*{
    margin: 0;
    padding: 0;
    cursor: default;
    text-decoration: none;
}


.none{
    display: none;
}

body{
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    font-family: Plus Jakarta Sans;
    font-weight: 1000;
    padding-top: 3rem;
    height: 100%;
}





/*  ESTILIZAÇÃO DA NAVBAR */
/* -------------------------------------------------------------------------------------------------------------------------------------- */

.navbar-container{
    background-color: #59554E;
    height: 3rem;
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 100;     
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));

}   

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li{
    margin: 0 80px;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    color: #F3F4E5;
    font-weight: bold;
}

nav ul li:hover{
    color:  #ffffff;
    cursor: pointer;
}

.material-icons{
    color: #F3F4E5;
}

.material-icons:hover{
    color: #ffffff;
    cursor: pointer;
}
/* -------------------------------------------------------------------------------------------------------------------------------------- */

/* ESTILIZAÇÃO SOBRE-MIM */
/* -------------------------------------------------------------------------------------------------------------------------------------- */

.project-title{
    background-color: #F3F4E5;
    color: #59554E;
    width: 100%;
    height: 15rem;
    display: flex; 
    flex-direction: row;
    gap: 15rem;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */    

}

.title{
    font-family: DM Serif Display;
    text-align: center;
    letter-spacing: 1.2px;
    font-size: 3rem;
    border-bottom: 0.1px solid #b29f8f;
}

.title:hover{
    color: #3e3b37;
    cursor: default;
}

.subtitle{
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    letter-spacing: 1.2px;
    font-weight: 250;
    color: #b29f8f;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.pdf-download{
    height: 6rem;
    width: 18rem;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid #b29f8f;
}

.pdf-download:hover{
    border: 3px solid #b29f8f;
}

.pdf-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #b29f8f;
    font-family: Plus Jakarta Sans;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
}

.fa-file {
    font-size: 2rem; 
}

.pdf-title{
    font-family: Plus Jakarta Sans;
    font-size: 1rem;
    color: #59554E;
    letter-spacing: 1.2px;
}

.pdf-click-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #b29f8f;
    height: 2rem;
    width: 18rem;
    border-radius: 15px;
}

.pdf-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


 

/* Estilização título portfólio de atividades */

.me-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
}

.me-text h1{
    font-family: DM Serif Display;
    font-size: 4rem;
    letter-spacing: 1.2px;
    color: #59554E;
    font-weight: 600;
}

.me-text h3{
    font-family: Plus Jakarta Sans;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    color: #b29f8f;
    font-weight: 600;
}

.me-container img{
    width: 25rem;
    border-radius: 10px;
    transition: 0.5s;
}

.me-container img:hover{
    transform: scale(1.1);
}

.me-container{
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #E2E3D9 ;
}

/* Estilização do quem sou eu */

.quem-sou-eu{
    background-color: #F3F4E5;  
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

.quem-sou-eu h1{
    background-color: #59554E;
    padding: 2rem;
    border-radius: 10px;
    font-family: DM Serif Display;
    color: #E2E3D9;
}

.quem-sou-eu h3{
    width: 31rem;
    margin-left: 5rem;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 600;
    color: #59554E;
}

.quem-sou-eu h3 span{
    color: #b29f8f;
}

.study-title{
    display: flex;
    justify-content: center;
    background-color: #E2E3D9;
}

.study-title h1{
    font-family: DM Serif Display;
    font-size: 2rem;
    letter-spacing: 1.2px;
    color: #b29f8f;
    font-weight: 600;
    padding: 20px;
}

.study-images{
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: #E2E3D9;
    padding-bottom: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.study-images img{
    width: 15rem;
    margin: 0 1rem;
    border-radius: 10px;
    transition: 0.2s;
}

.study-images img:hover{
    transform: scale(1.05);
}

.me-description{
    display: flex;
    justify-content: center;
    background-color: #F3F4E5;
    padding: 3rem;
    align-items: center;
    gap: 5rem; ;
}

.text1{
    font-family: Plus Jakarta Sans;
    font-size: 1.3rem;
    font-weight: 600;
    color: #59554E;
    height: 18rem;
    width: 40rem; /* Pode ajustar a largura conforme o layout */
    background-color: #E2E3D9;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    overflow: hidden;
    
}

.text2 {
    font-family: Plus Jakarta Sans;
    font-size: 1.3rem;
    font-weight: 600;
    color: #59554E;
    height: 18rem;
    width: 40rem; /* Pode ajustar a largura conforme o layout */
    background-color: #E2E3D9;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    overflow: hidden;
}


.my-life{
    display: flex;
    justify-content: center;
    background-color: #59554E;
    color: #E2E3D9;
}

.my-life-text{
    font-size: 1rem;
    letter-spacing: 1.2px;
    background-color: #59554E;
    color: #b29f8f;
    font-weight: 300;
    width: 100%;
    align-items: center;
    padding-bottom: 2rem;
}

.my-life-text p{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

.my-life h1{
    font-family: DM Serif Display;
    
}

.my-goal-title{
    display: flex;
    justify-content: center;
    background-color: #E2E3D9;
    font-size: 1rem;
    color: #59554E;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.my-goal-title h1{
    font-family: DM Serif Display;
}

.my-goal-content{
    background-color: #E2E3D9;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    gap: 3rem;
}

.my-goal-text{
    color: #59554E;
    width: 40%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    background-color: #b29f8f;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 rem;
}

.my-goal-images{
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.my-goal-images img {
    width: 100%;
    max-width: 20rem; 
    height: auto;
    display: block; 
    object-fit: contain;
    transition: 0.5s;
}

.my-goal-images img:hover{
    transform: scale(1.05);
}

.footer-container {
    background-color: #989389;
    display: flex;
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.footer-text {
    font-family: Plus Jakarta Sans;
    font-size: 0.8rem;
    color: #E2E3D9;
    font-weight: 600;
    text-align: center; 
}

.footer-icon {
    color: #E2E3D9;
    font-size: 1rem; 
    cursor: pointer;
    align-items: center;
    cursor: pointer;
}

.footer-icon:hover {
    color: #59554E;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------------------------------- */

/* ESTILIZAÇÃO PROJETOS */
/* -------------------------------------------------------------------------------------------------------------------------------------- */
.project-header-container{
    background-color: #F3F4E5;
    color: #59554E;
    width: 100%;
    height: 12rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10rem;  
}

.project-header-text{
    width: 25rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: plus jakarta sans;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #b29f8f;
}

.github-link{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 1.5rem;
    font-size: 2.5rem;
    font-family: plus jakarta sans;
    border-radius: 10px;
    border: 2px solid #b29f8f;
    background-color: #F3F4E5;
}

.github-link:hover{
    background-color: #989389;
    color: #ebebeb;
    border: 2px solid #ebebeb;
}

.github-link, .fa-brands, .fa-square-github, .github-link p{
    cursor: pointer;
}

.project-description-container{
    background-color:#E2E3D9;
    color: #b29f8f;
    width: 100%;
    height: 5rem;
    display: flex; 
    justify-content: center; 
    align-items: center;   
}

.project-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    font-family: plus jakarta sans;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.github-projects-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #F3F4E5;
    padding-top: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;

}

.github-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5rem; 
    justify-items: center; 
}

.projects-size {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.projects-size p {
    background-color: #59554E;
    color: #F3F4E5;
    margin-top: 1rem;
    height: 2rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.projects-size img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
    border-radius: 8px;
    border: 5px solid #E2E3D9;
    transition: 0.7s;

}

.projects-size img:hover{
    cursor: pointer;
    transform: scale(1.02);
}
/* -------------------------------------------------------------------------------------------------------------------------------------- */

/* ESTILIZAÇÃO CONTATO */
/* -------------------------------------------------------------------------------------------------------------------------------------- */

.contact-container{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #59554E;
    height: calc(100vh - 15rem);
}

.contact-header{
    background-color: #F3F4E5;
    color: #59554E;
    width: 100%;
    height: 10rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10rem; 
    font-family: 'DM Serif Display';
}

.contact-header h1 {
    font-family: 'DM Serif Display';
}

.contact-content {
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #F3F4E5;
    padding: 2rem;
    border-radius: 1rem;
}

.social-icon img{
    height: 3rem;
    width: 3rem;
}

.social-icon{
    display: flex;
    align-items: center;
    width: 100%;
    color: #59554E;
}

.social-icon p{
    font-family: 'Plus Jakarta Sans';
    padding-left: 1rem;
    font-size: 1.1rem;
}

.link p:hover{
    cursor: pointer;
    color: #b29f8f;
}


/* RESPONSIVIDADE */

/* Media query para telas menores que 480px (celulares em modo retrato) */
@media (max-width: 480px){

    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 0.9rem;
    }

    .pdf-text {
        font-size: 0.9rem;
    }


    .me-container img {
        width: 90%;
        max-width: 15rem;
    }

    .study-images img {
        width: 90%;
        max-width: 15rem;
    }


    .github-link {
        font-size: 1.3rem;
    }

    .my-goal-content{
        margin-bottom: ppx;
    }
}


 @media screen and (max-width: 768px) {
    body {
        padding-top: 2rem;
        font-size: 14px;
    }

    .navbar-container {
        display: flex;
        height: 2.5rem;
    }

     nav ul {
        align-items: center;
        gap: 5rem;
        transform: scale(0.9);
        
    }

    nav ul li {
        margin: 10px 0;
        font-size: 12px;
    } 


    .project-title {
        flex-direction: column;
        height: auto;
        gap: 2rem;
        text-align: center;
        padding: 2rem 1rem;
    }

    .me-container {
        flex-direction: column;
        text-align: center;
        padding: 2rem 1rem;
    }

    .me-container img {
        width: 90%;
        max-width: 15rem;
    }

    .quem-sou-eu {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .quem-sou-eu h3 {
        width: 90%;
        margin-left: 0;
        font-size: 18px;
    }

    .study-images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .study-images img {
        width: 80%;
        max-width: 15rem;
    }

    .me-description {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .text1, .text2 {
        width: 90%;
        height: auto;
        padding: 1.5rem;
    }

    .my-life h1{
        font-size: 1.8rem;
        text-align: center;
    }

    .my-goal-content {
        flex-direction: column;
        align-items: center;
    }

    .my-goal-title {
        text-align: center;
        padding: 5px;
    }

    .my-goal-text {
        width: 90%;
        padding: 1.5rem;
    }

    .my-goal-images {
        width: 40%;
        gap: 2.5rem;
    }

    .footer-container{
        margin: none;
    }

    .footer-text, .footer-icon {
        font-size: 10px; 
    }

} 